h1 { 
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace; 
    font-size: 400%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 20%; /*26.4px;*/ 
    
    text-align: center;
    color:green;
    margin-top:5%;
    height:auto;
    
    } 
p { 
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace; 
    font-size: 150%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 100%;

    color:#90EE90;
    margin-left:15%;    
    margin-top:5% 
    } 

body{
    background-color:#040f00;
    }
 a {
      font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monos    pace;
      font-size: 100%;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 100%;
  
      color:#90EE90;
      /*margin-left:%;*/
      
      }

